
.buttonMenu {
  background-color: #f2f2f2; /* Green */
  border: none;
  color: #000;
  padding: 12px 12px;

  text-align: center;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.buttonMenuSel {
  background-color: #f2f2f2; /* Green */
  border: none;
  color: #f6881f;
  padding: 12px 12px;

  text-align: center;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.buttonMenu:active {
  background-color: #f2f2f2; /* Green */
  border: none;
  color: #f6881f;

}

.buttonMenu:hover {
  background-color: #f2f2f2; /* Green */
  border: none;
  color: #f6881f;

}
.buttonMenu::selection {
  background-color: #ff0000; /* Green */
  border: none;
  color: #f6881f;

}



body {
  font-size: 14pt;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.menuTopSel{
  font-size: 11pt;
  color:#ffffff;
  display: inline-block;
  background-color: #222222;

}
.menuTopDe{
  font-size: 11pt;
  color:#FF851B;
  display: inline-block;
  background-color: #222222;

}

.brickSmall{
  height: 400px;
  width: 400px;

}
.brickBig{
  height: 550px;
  width: 550px;

}

.headerStroke {
  border-bottom: 1px solid black;
}

.masonry-brick {
  margin: 2px;
  display: none;

  padding: 0px;
  margin-bottom: 3px;
  width: 300px;
}

.masonry-brick.loaded {
  display: block;
}

#gutter-opt-demo2 .item {
  margin-bottom: 0px;
}

a {
  word-wrap: break-word
}

code {
  font-size: 100%;
  color: #222;
  background-color: rgba(127, 219, 255, .25);
}

.container-narrow {
  max-width: 48em
}

.bg-dark {
  background-color: #102630;
}

.button-logo {
  width: 2em;
  height: 2em;
  border-radius: 10000px;
  border-width: 3px;
}

.button-logo:hover {
  color: #102630;
  background-color: #ff4136;
  opacity: 0.9;
  box-shadow: 0 0 0 2px rgba(255, 65, 54, .5);
}

.button-logo:before,
.button-logo:after {
  border-radius: inherit;
}

.button-outline {
  border-width: 2px
}

.button-transparent:focus {
  box-shadow: inset 0 0 0 2px
}

.button-grow {
  transition: transform, box-shadow, .05s ease
}

.button-grow:hover {
  transform: scale(1.0625)
}

.button-grow:active {
  transform: scale(.9375)
}

.icon {
  top: .03125em
}

.footerExp{
  height: 305px;
}
.footerCollapse{
  height: 128px;

}
